# config variables
SYSTEM_TYPE=TEST                 # TEST|PROD
SAP_LOCALHOST=dbgpa70c
SAP_SYSTEM_NO=70
SID=GPA
SID_ADM=GPAadm
SERVICE_NAME=GPA_70_DB
DBOWNER=SAPGPA
WORK_LOG=/usr/sap/GPA/DVEBMGS70/work
ORA_LOG=/oracle/GPA/saptrace/diag/rdbms/gpa/GPA/trace
START_PROFILE=GPA_DVEBMGS70_cigpa70
SCRIPT_DIRECTORY=/usr/sap/scratch/DAILYMONI/scripts/GPA
WORK_DIRECTORY=/usr/sap/scratch/DAILYMONI/work/GPA
SQL_SCRIPT_DIR=/usr/sap/scratch/DAILYMONI/scripts/GPA/SQL_SCRIPT/
